html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

nav ul {
  padding-left: 0;
}

nav ul li {
  list-style-type: none;
  padding-left: 0;
  display: inline-block;
}

.root {
  padding: 10px;
}
