html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  margin: 0px;
}

nav ul {
  padding-left: 0;
}

nav ul li {
  list-style-type: none;
  padding-left: 0;
  padding-right: 10px;
  display: inline-block;
}

.root {
  padding: 30px;
  margin-bottom: 60px;
}

footer {
  padding: 30px 0;
}

footer div {
  margin-top: 10px;
}
